
<form action="">

<div class="form-group">
    <label for="txtnome">Nome</label>
    <input type="text"  class="form-control"
        name="" id="txtnome">
</div>

<div class="form-group">
    <label for="txtendereco">Endereço</label>
    <input type="text"  class="form-control"
        name="" id="txtendereco">
</div>

<div class="form-group">
    <label for="txttelefone">Telefone</label>
    <input type="text"  class="form-control"
        name="" id="txttelefone">
</div>

<div class="form-group">
    <label for="txtdatanascimento">Data Nascimento</label>
    <input type="text"  class="form-control"
        name="" id="txtdatanascimento">
</div>

<div class="form-group">
    <input type="submit" value="Enviar" class="form-control">
</div>

</form>