
<form action="/clientes/save" method="post">

    <div class="form-group">
        <label for="txtnome">Nome</label>
        <input type="text"  class="form-control"
            value="{{cliente.nome}}"
            name="nome" id="txtnome">
            <!-- Binding -->
    </div>

    <div class="form-group">
        <label for="txtendereco">Endereço</label>
        <input type="text"  class="form-control"
            value="{{cliente.endereco}}"
            name="endereco" id="txtendereco">
    </div>

    <div class="form-group">
        <label for="txttelefone">Telefone</label>
        <input type="text"  class="form-control"
            value="{{cliente.telefone}}"
            name="telefone" id="txttelefone">
    </div>

    <div class="form-group">
        <label for="txtdatanascimento">Data Nascimento</label>
        <input type="text"  class="form-control"
            value="{{cliente.datanascimento}}"
            name="datanascimento" id="txtdatanascimento">
    </div>

    <div class="form-group">
        <input type="submit" value="Enviar" class="form-control">
    </div>

</form>