<h2>Clientes</h2>

<table class="table">
    <thead>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th>Data Nascimento</th>
    </thead>
    <tbody>
        <tr>
            <td>Zezinho</td>
            <td>Rua lalala 100</td>
            <td>5555-1234</td>
            <td>20/06/2000</td>
        </tr>
    </tbody>
</table>